body{
  margin:0;
  padding:0;
  font-size:12px;
  overflow:auto;
  font-family: 'Inconsolata' !important;
  background: black;
}

#mainDiv{
  width:100%;
  height:100%
}

#loveHeart{
  float:left;
  width:670px;
  height:625px
}

#garden{
  width:100%;
  height:100%
}

#elapseClock{
  text-align:right;
  font-size:18px;
  margin-top:10px;
  margin-bottom:0px
}

#words{
  width:500px;
  font-size:24px;
  color:#666
}

#messages{
  display:none
}

#elapseClock .digit
{
  font-family:"digit";
  font-size:36px
}

#loveu
 {
  padding:5px;
  font-size:22px;
  margin-top:30px;
  margin-right:0px;
  text-align:center;
  display:none
}

#loveu .signature{
  margin-top:10px;
  font-size:20px;
}

#clickSound{
  display:none
}

#code{
  float:left;
  width:440px;
  height:400px;
  color:#333;
  font-size:12px
}

#code .string{
  color:#2a36ff
}

#code .keyword{
  color:#7f0055;
  font-weight:bold
}

#code .placeholder{
  margin-left:15px
}

#code .space{
  margin-left:7px
}

#code .comments{
  color:#3f7f5f
}

#copyright{
  margin-top:10px;
  text-align:center;
  width:100%;
  color:#666
}

#errorMsg{
  width:100%;
  text-align:center;
  font-size:24px;
  position:absolute;
  top:100px;
  left:0
}

#copyright a{
  color:#666
}

canvas {
	cursor: crosshair;
 	display: block;
}
